dist
*.concordiumwallet
logs/*
concordium-backup.concordiumwallet.json
kubo
kubo_v0.14.0_linux-amd64.tar.gz
cis2-multi/module.wasm
cis2-multi/schema.bin
marketplace-contract/module.wasm
marketplace-contract/schema.bin
cis2-nft/module.wasm
cis2-nft/schema.bin
.vscode
Cargo.lock
target